.fancy-list() {
  li {
    position: relative;

    &:after,
    > a {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      background-color: rgba(200, 200, 200, .3);
      height: 100%;
      top: 0;
      left: 0;
      width: 0;
      .transition(width 0.218s ease);
    }

    &:hover:after {
      width: 1.6em;
    }

    > a {
      background-color: transparent;
      position: relative;
      z-index: 2;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.dmn-context-menu {
  .tooltip;
  background-color: #fff;
  .transition(top 0.218s ease);
  .transition(left 0.218s ease);
  min-width: 120px;

  .coordinates {
    padding: 3px 6px;
    display: none;
  }

  li > a {
    .links-item;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    .fancy-list;
  }

  span {
    display: inline-block;
    &.icon {
      width: 1.2em;
      .dmn-font;
      text-align: left;
      &:before { content: '\e803'; }
    }
  }

  > ul {

    > li {
      padding-top: 3px;
      padding-bottom: 3px;
      border-bottom: 1px dotted @dmn-gray-light;

      > a,
      > a:hover {
        color: @dmn-gray-dark;
        cursor: default;
      }

      > a .icon:before {
        display: none;
      }

      > ul {
        &:empty {
          display: none;
        }

        .label {
          padding-left: 0.4em;
        }
      }
    }
  }
}
