.empty(@color: @dmn-gray) {
  &:empty:before {
    content: '…';
    display: inline-block;
    width: 100%;
    color: @color;
    text-align: center;
  }
}

.tooltip(@color:        @dmn-gray-dark,
         @bg-color:     @dmn-gray-lighter,
         @shadow-color: fade(@dmn-gray-darker, 50%)) {
  position: absolute;
  display: block;
  z-index: 99;
  color: @color;
  background-color: @bg-color;
  .box-shadow(0 0 3px 1px @shadow-color);
}

.link(@color: @dmn-primary) {
  color: @color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken(@color, 10);
  }
}

.links-item(@color:           @dmn-primary,
            @bg-color:        @dmn-gray-light,
            @pad-horizontal:  3px,
            @pad-vertical:    6px) {
  .link(@color);
  display: block;
  padding: @pad-horizontal @pad-vertical;

  &:hover {
    background-color: @bg-color;
  }
}

.borderbox() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;


  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    &:before,
    &:after {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
  }
}

.controls-icon() {
  position: relative;

  .ctrls {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;


    &:before {
      content: '';
      display: block;
      position: absolute;
      .transition(border 0.218s ease);

      width: 0;
      height: 0;

      top: -7px;
      right: -2px;

      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;

      border-right:10px solid @dmn-gray-light;
      .rotate(135deg);

      .transition(top 0.218s ease);
      .transition(right 0.218s ease);
    }

    &.open {
      &:before {
      }
    }
  }

  // .focused,
  &:hover {
    .ctrls:before {
      top: -9px;
      right: -4px;

      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;

      border-right:14px solid @dmn-primary;
    }
  }
}
