.dmn-combobox {
  position: relative;

  display: table;
  width: 100%;

  label,
  input {
    display: table-cell;
    vertical-align: middle;
  }

  input {
    .focused();
    padding: 3px 6px;
    border: 1px solid;
    position: relative;
    z-index: 1;
  }

  .caret {
    position: absolute;
    top: 6px;
    right: 6px;
    bottom: 6px;
    display: block;
    z-index: 2;
    text-align: center;

    cursor: pointer;
    &:before {
      .dmn-font();
      display: block;
      position: absolute;
      height: 100%;
      right: 0;
      top: 50%;
      margin-top: -8px;
      content: '\E801';
    }
    &:hover:before {
      color: @dmn-primary;
    }
  }

  &.expanded .caret:before {
    content: '\E800';
  }
}

.dmn-combobox-suggestions {
  .tooltip(@dmn-gray-dark, #fff);

  z-index: 999;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid @dmn-gray;
  margin-top: 5px;

  &:before {
    content: '';
    display: block;
    height: 4px;
    top: -4px;
    width: 100%;
    z-index: 10;
    background-color: inherit;
    position: absolute;
    border: 1px solid @dmn-gray;

    left: -1px;
    z-index: 1;
  }

  li {
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
    min-height: 12px;
    padding: 3px 6px;
    cursor: pointer;

    border-bottom: 1px solid @dmn-gray-light;

    background-color: #fff;
    .transition(background-color 0.218s ease);

    .focused();

    &:hover {
      background-color: lighten(@dmn-primary, 55%);
    }
    &:first-child {
      margin-top: -4px;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
